@import "../base";

/*
=============================================================
| FEATURES
=============================================================
*/

.features {
  margin-bottom: 3rem;
  .feature {
    padding: 6rem 8%;
    .feature-content {
      @extend .text;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .feature-img {
        @extend .background-black-squeeze;
        width: $ANIMATION-WIDTH + rem;
        height: $ANIMATION-WIDTH + rem;
        border-radius: 4px;
        align-self: center;
        margin-right: 2rem;
        opacity: 1;
        transition: opacity 0.2s ease;
        &[data-animate="false"] {
          opacity: 0.2;
          transition: opacity 0.2s ease;
        }
      }
      .feature-paragraph { 
        flex: 1 1 50%;
        margin-left: 2rem;
        text-align: justify;
        .feature-headline {
          @extend .text-heading;
          text-align: right;
          margin-bottom: 2rem;
        }
        p {
          margin-bottom: 1rem;
        }
      }
    }
    &.reversed {
      @extend .background-black-squeeze;
      .feature-content {
        flex-direction: row-reverse;
        .feature-img {
          @extend .background-white;
          margin-left: 2rem;
          margin-right: 0rem;
        }
        .feature-paragraph {
          margin-left: 0;
          margin-right: 2rem;
          .feature-headline {
            text-align: left;
          }

        }
      }
    }
  }
  @include breakpoint(desktop_large) {
    .feature {
      padding: 4rem 20%;
    }
  }
  @include breakpoint(desktop_xlarge) {
    .feature {
      padding: 4rem 25%;
    }
  }
  @include breakpoint(tablet) {
    .feature {
      padding: 4rem 2rem;
      .feature-content {
        .feature-img {
          margin-right: 1rem;
        }
        .feature-paragraph {
          margin-left: 1rem;
          margin-top: 2rem;
          .feature-headline {
            text-align: center;
            margin-bottom: 1rem;
          }
        }
      }
      &.reversed {
        .feature-content {
          .feature-img {
            margin-left: 1rem;
            margin-right: 0rem;
          }
          .feature-paragraph {
            margin-left: 0;
            margin-right: 1rem;
            .feature-headline {
              text-align: center;
            }
          }
          flex: 1 1 100%;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .feature {
      padding: 4rem 2rem;
      .feature-content {
        margin-top:0;
        .feature-img {
          margin-left: 0;
          margin-right: 0;
        }
        .feature-paragraph {
          margin-left: 0;
          margin-right: 0;
          flex: 1 1 100%;
          text-align: left;
        }
      }
      &.reversed {
        .feature-content {
          .feature-img {
            margin-left: 0rem;
            margin-right: 0rem;
          }
          .feature-paragraph {
            margin-left: 0;
            margin-right: 0rem;
          }
        }
      }
    }
  }
}
