<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>CBRAIN | Features</title>
    <link
      rel="icon"
      type="image/png"
      href="./assets/icons/icon-cbrain-thumbnail.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
  </head>
  <body>
    <%= require('html-loader!../partials/nav.html') %>
    <section class="features">
      <div class="feature">
        <div class="feature-content">
          <div
            id="features_01"
            class="animation feature-img background-black-squeeze"
            data-animate="false"
          ></div>
          <div class="feature-paragraph">
            <div class="feature-headline">
              Execute Pipelines on High Performance Computing
            </div>
            <p>
              CBRAIN has a multitude of computational pipelines that allow you to perform complex
              "big data" analytics. The pipelines range from simple
              conversion operations to neuroimaging to genomics to supply chain
              simulation modeling.
            </p>
            <p>
              Users can decide what data to use, what options are needed, and then
              launch pipelines on large-scale computing rapid processing.
            </p>
          </div>
        </div>
      </div>
      <div class="feature reversed">
        <div class="feature-content">
          <div
            id="features_02"
            class="animation feature-img"
            data-animate="false"
          ></div>
          <div class="feature-paragraph">
            <div class="feature-headline">Create Your Own Pipelines</div>
            <p>
              CBRAIN works with an ecosystem of software making it easy for
              users to define, test and import their own pipelines into the
              system. We utilize the easy to use <a href="http://boutiques.github.io/">Boutiques JSON Standard</a>
	      to define execution pipelines for automatic import to CBRAIN.
            </p>
            <p>
              Check out our <a href="https://github.com/natacha-beck/cbrain/wiki/Writting-Tasks-with-Boutiques">documentation</a>
	      and begin to import your own pipelines.
            </p>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature-content">
          <div
            id="features_03"
            class="animation feature-img background-black-squeeze"
            data-animate="false"
          ></div>
          <div class="feature-paragraph">
            <div class="feature-headline">Seamlessly Move Data</div>
            <p>
              CBRAIN offers a number of Data Providers for storing, organizing, and moving
              your data seamlessly throughout the CBRAIN ecosystem ensuring large
              datasets are moved efficiently and securely to perform large-scale
              computations.
            </p>
            <p>
              Whether your data starts on your desktop, resides at a computing
              center or lives out in the cloud, it can easily become part of the
              CBRAIN data ecosystem.
            </p>
          </div>
        </div>
      </div>
      <div class="feature reversed">
        <div class="feature-content">
          <div
            id="features_04"
            class="animation feature-img"
            data-animate="false"
          ></div>
          <div class="feature-paragraph">
            <div class="feature-headline">Connect to Vast Computing Resources</div>
            <p>
              CBRAIN provides a place where users can connect computing and
              cloud resources together to give users a vast pool of computation to acheive their science.
	      CBRAIN has a partnership with <a href=">Compute Canada</a> to provide millions of computing hours for the research
              com-munity through our Portal.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
