<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>CBRAIN | Get Started</title>
    <link
      rel="icon"
      type="image/png"
      href="./assets/icons/icon-cbrain-thumbnail.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
  </head>
  <body>
    <%= require('html-loader!../partials/nav.html') %>
    <section class="get-started">
      <div class="get-started-options">
        <div class="resource-option" data-option="user" data-selected="true">
          <p class="resource-option-text">User</p>
          <div class="resource-option-bar"></div>
        </div>
        <div
          class="resource-option"
          data-option="developer"
          data-selected="false"
        >
          <p class="resource-option-text">Developers</p>
          <div class="resource-option-bar"></div>
        </div>
        <div
          class="resource-option"
          data-option="support"
          data-selected="false"
        >
          <p class="resource-option-text">Support</p>
          <div class="resource-option-bar"></div>
        </div>
      </div>
      <div
        class="get-started-resources"
        data-option="user"
        data-selected="true"
      >
        <div class="resource-card-wrapper">
          <a class="resource-card" href="https://portal.cbrain.mcgill.ca/login">
            <div class="resource-card-img">
              <img src="./assets/icons/icon-user_01.svg" />
            </div>
            <div class="resource-card-text">Sign up for a free account</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-user_02.svg" />
            </div>
            <div class="resource-card-text">Refer to the User Manual</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-user_03.svg" />
            </div>
            <div class="resource-card-text">Read the Documentation</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
      </div>
      <div
        class="get-started-resources"
        data-option="developer"
        data-selected="false"
      >
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-developer_01.svg" />
            </div>
            <div class="resource-card-text">
              Download our Vagrant CBRAIN Image
            </div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-developer_02.svg" />
            </div>
            <div class="resource-card-text">
              Install our Vagrant CBRAIN Image
            </div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-developer_03.svg" />
            </div>
            <div class="resource-card-text">Configure CBRAIN</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
      </div>
      <div
        class="get-started-resources"
        data-option="support"
        data-selected="false"
      >
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-support_01.svg" />
            </div>
            <div class="resource-card-text">Direct Support</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
        <div class="resource-card-wrapper">
          <a
            class="resource-card"
            href="https://github.com/shots47s/cbrain-vagrant"
          >
            <div class="resource-card-img">
              <img src="./assets/icons/icon-user_03.svg" />
            </div>
            <div class="resource-card-text">Community Support</div>
            <div class="resource-card-bottom"></div>
          </a>
        </div>
      </div>
    </section>
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
