@import "../base";

/*
=============================================================
| ABOUT - CONTACT SECTION
=============================================================
*/

$EMPLOYEE_IMG : 8;
.about {
  .about-contact {
    display: flex;
    padding: 6rem 0px;
    margin: 4rem 0;
    position: relative;
    flex-wrap: wrap;
    .contact-heading {
      width: 100%;
      .contact-heading-text {
        @extend .text-heading;
        width: 50%;
        margin: 1rem 0rem;
        padding: 0rem 2rem;
        text-align: center;
      }
    }
    .contact-information {
      background-color: $COLOR-BLACK-SQUEEZE;
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3.5rem;
      .contact-information-text {
        padding-left: 4rem;
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 300;
      }
      .contact-information-border {
        background-color: $COLOR-PRUSSIAN;
        height: 1px;
        width: 12.5rem;
        margin: 1rem 0px;
      }
    }
    .contact-img-wrapper {
      flex: 1 1 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $COLOR-BLACK-SQUEEZE;
      .contact-img {
        height: 100%;
        border-radius: 2px;
        position: absolute;
        align-self: center;
      }
    }
  }
  @include breakpoint(tablet) {
    .about-contact {
      flex-wrap: nowrap;
      .contact-heading {
        position: absolute;
        top: 0;
        width: 50%;
        .contact-heading-text {
          width: 100%;
        }
      }
      .contact-information {
        padding: 2rem;
        .contact-information-text {
          padding-left: 0rem;
          font-size: 1rem;
        }
      }
      .contact-img-wrapper {
        .contact-img {
          height: 75%;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .about-contact {
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      .contact-heading {
        width: 100%;
        position: unset;
        .contact-heading-text {
          width: 100%;
        }
      }
      .contact-information {
        padding: 1rem;
        flex: 1 1 100%;
      }
      .contact-img-wrapper {
        flex: 1 1 100%;
        .contact-img {
          width: 50%;
          padding-bottom: 2rem;
          position: unset;
          height: auto;
        }
      }
    }
  }
}

/*
=============================================================
| ABOUT - GRID SECTION
=============================================================
*/

.about {
  .about-team {
    .team-heading {
      @extend .text-heading;
      text-align: center;
      padding: 2rem 0;
      width: 100%;
      .team-description {
        @extend .text;
        padding: 1rem 0;
      }
    }
    .team-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem 0;
      .team-employee {
        flex: 0 1 25rem;
        padding: 1rem;
        cursor:pointer;
        text-align: center;
        &[data-modal="false"] {
          .employee-details:hover {
            .employee-img-wrapper .employee-img-border {
              @extend .circle-spin-hover;
              .employee-button {
                &:before {
                  width: 100%;
                  right: 0;
                  top: 0;
                  bottom:0;
                  opacity: 1;
                  transform: translate(0%,0);
                  transition: 0.2s all linear;
                }
              }
            }
            .employee-description .employee-information .employee-border {
              &:before {
                transition: 0.4s all ease;
                left: 0%;
                right: 0%;
                height: 3px;
              }
            }
          }
        }
        .employee-details {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 1rem;
          cursor: pointer;
          .employee-img-wrapper {
            width: 45%;
            position: relative;
            &:after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }
            .employee-img-border {
              @extend .circle-spin;
              display: flex;
              padding: 0.5rem;
              width: 100%;
              height: 100%;
              position: absolute;
              .employee-img {
                width: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                background-size: cover;
              }
              .employee-button {
                @extend .button-close;
                .employee-icon {
                  width: 0.75rem;
                  height: 0.75rem;
                  transform: rotate(45deg)
                }
              }
            }
          }
          .employee-description {
            .employee-information {
              margin: 1rem 0;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              .employee-name {
                @extend .text-subtitle;
                width: 100%;
              }
              .employee-border {
                background-color: $COLOR-PRUSSIAN;
                height: 1px;
                width: 12.5rem;
                margin: 1rem 0px;
                position: relative;
                transition: 0.3s all ease;
                &::before {
                  background: $COLOR-CBRAIN;
                  position: absolute;
                  content: "";
                  top: 0;
                  bottom: 0;
                  left: 50%;
                  right: 50%;
                }
              }
              .employee-occupation {
                width: 100%;
              }
            }
            .employee-bio {
              display: none;
            }
          }
        }
      }
    }
  }
  @include breakpoint(tablet) {
    .about-team {
      .team-grid {
        .team-employee {
          flex: 0 0 50%;
          .employee-details {
            .employee-img-wrapper {
              width: 55%;
              .employee-img-border {


                .employee-button {
                  width: $CLOSE_ICON_WIDTH - 0.5 + rem;
                  height: $CLOSE_ICON_WIDTH - 0.5 + rem;
                  .employee-icon {
                    width: 0.5rem;
                    height: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint(mobile) {
    .about-team {
      .team-heading {
        padding: 0;
      }
      .team-grid {
        padding: 2rem;
        .team-employee {
          flex: 0 1 100%;
        }
      }
    }
  }
}

/*
=============================================================
| ABOUT - MODAL
=============================================================
*/

body[data-modal="true"] {
  overflow: hidden;
}

.about {
  .about-team {
    .team-grid {
      .modal-background[data-modal="true"]{
        display: flex;
        background-color: $COLOR-MODAL-BACKGROUND;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
      }
      .modal-container {
        ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
          border-radius: 50px;
        }
        ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          -webkit-box-shadow: inset 0 0 10px 10px $COLOR-PRUSSIAN;
        }
        display: none;
        &[data-modal="true"] {
          height: $MODAL-HEIGHT + rem;
          width: $MODAL-WIDTH + rem;
          position: fixed;
          z-index: 10;
          top: 25%;
          display: flex;
          box-shadow: 0px 0px 30px -1px $COLOR-MODAL-BACKGROUND;
          background-color: $COLOR-WHITE;
          .modal-employee[data-modal="true"] {
            position: relative;
            display: flex;
            width: 100%;
            .employee-button {
              @extend .button-close;
              top: 0;
              right: 0;
              transform: translate(50%, -50%) rotate(0deg);
              cursor: pointer;
              display: flex;
              align-items:center;
              justify-content: center;
              &:hover {
                @extend .button-close-hover;
              }
              .employee-icon {
                width: 0.75rem;
                height: 0.75rem;
              }
            }
            .employee-details {
              @extend .background-black-squeeze;
              display: flex;
              flex-direction: column;
              flex: 0 0 35%;
              padding-top: $MARGIN + rem;
              .employee-img-wrapper {
                display:flex;
                border-radius: 100%;
                margin: $MARGIN + rem 0;
                justify-content: center;
                .employee-img {
                  width: $EMPLOYEE_IMG + rem;
                  height: $EMPLOYEE_IMG + rem;
                  border-radius: 50%;
                  background-size: cover;
                }
              }
              .employee-information {
                @extend .text;
                width: 100%;
                text-align: center;
                .employee-name {
                  @extend .text-subtitle;
                  margin: $MARGIN/2 + rem;
                }
              } 
              .employee-links {
                display: flex;
                flex-direction: column;
                margin-top: $MARGIN + rem;
                .employee-link {
                  @extend .button-filled;
                  width: 100%;
                  padding: $MARGIN + rem;
                  background-color: $COLOR-PRUSSIAN;
                  color: $COLOR-WHITE;
                  text-decoration: none;
                  cursor: pointer;
                  position: relative;
                  border-radius: 0;
                  border-bottom: 1px solid $COLOR-BLACK-SQUEEZE;
                  &::after {
                    content: "";
                    background-image: url("../assets/icons/icon-external-link-white.png");
                    background-size: cover;
                    width: 1rem;
                    height: 1rem;
                    margin: $MARGIN + rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                  }
                }
              }              
            }
            .employee-bio-wrapper{
              overflow-y: hidden;
              margin: $MARGIN + rem 0;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              .employee-bio {
                @extend .text;
                display: flex;
                overflow-y: scroll;
                margin: $MARGIN + rem $MARGIN * 2 + rem;
                margin-right: 0.5rem;
                .bio-text {
                  margin-right: 2rem;
                }
              }                                                      
            }
           }
        }
      }
      @include breakpoint(tablet) {
        padding:0;
        .modal-container[data-modal="true"]{
          width: 80%;
          height: 80%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .modal-employee[data-modal="true"] {
            flex-direction: column;
            position: unset;
            .employee-details {
              display: block;
            }
            .employee-bio-wrapper {
              flex: 1 1 100%;
              .employee-bio {
                margin: $MARGIN/2 + rem $MARGIN * 2 + rem;
              }
            }
          }
        }
      }
      @include breakpoint(mobile){
        .modal-container[data-modal="true"]{
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding-bottom: $CLOSE_ICON_WIDTH * 2 + rem;
          transform: translate(0,0);
          .modal-employee[data-modal="true"] {
            overflow-y: scroll;
            .employee-button {
              position: fixed;
              bottom: 0;
              top: unset;
              right: 50%;
              transform: translate(50%, -50%);
            }
            .employee-bio-wrapper {
              overflow-y: visible;
              .employee-bio {
                overflow-y: visible;
                margin: 1rem;
                .bio-text {
                  margin: 0;
                }
              }
            }
          } 
        } 
      }
    }
  }
}
