<footer class="partnership">
  <div class="partnership-icons">
    <a href="https://www.mcgill.ca"
      ><img
        class="partnership-icon"
        src="../assets/nav-footer/footer-mcgill.png"
    /></a>
    <a href="http://ludmercentre.ca/"
      ><img
        class="partnership-icon"
        src="../assets/nav-footer/footer-ludmer.png"
    /></a>
    <a href="https://www.canarie.ca/"
      ><img
        class="partnership-icon"
        src="../assets/nav-footer/footer-canarie.png"
    /></a>
    <a href="https://www.mcgill.ca/neuro/" .
      ><img class="partnership-icon" src="../assets/nav-footer/footer-neuro.png"
    /></a>
    <a href="http://mcin.ca/"
      ><img class="partnership-icon" src="../assets/nav-footer/footer-mcin.png"
    /></a>
  </div>
</footer>
