<section class="nav" data-open="false">
  <a class="logo" href="./index.html">
    <img
      class="logo-img"
      src="../assets/icons/icon-cbrain-white.png"
      alt="cbrain logo"
    />
  </a>
  <div class="bar">
    <div class="links">
      <a class="link" href="./features.html">FEATURES</a>
      <a class="link" href="./projects.html">PROJECTS</a>
      <a class="link" href="./about.html">ABOUT</a>
      <a class="link" href="./get-started.html">GET STARTED</a>
    </div>
    <a class="login" href="https://portal.cbrain.mcgill.ca/login">Login</a>
    <div class="burger">
      <img class="burger-img" src="../assets/nav-footer/nav-burger.png" />
    </div>
  </div>
</section>
