<section class="nav" data-open="false">
  <a class="logo" href="./index.html">
    <img
      class="logo-img"
      src="../assets/icons/icon-cbrain-white.png"
      alt="cbrain logo"
    />
  </a>
  <div class="bar">
    <div class="links">
      <a class="link" href="./features.html" data-page="features">FEATURES</a>
      <a class="link" href="./projects.html" data-page="projects">PROJECTS</a>
      <a class="link" href="./about.html" data-page="about">ABOUT</a>
      <a class="link" href="./get-started.html" data-page="get-started"
        >GET STARTED</a
      >
      <a
        class="link"
        href="https://portal.cbrain.mcgill.ca/login"
        data-page="login"
        >Login</a
      >
    </div>
    <a class="login" href="https://portal.cbrain.mcgill.ca/login">Login</a>
    <div class="burger">
      <img
        class="burger-img"
        src="../assets/nav-footer/nav-burger.png"
        alt="menu icon"
      />
    </div>
  </div>
</section>
